
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 110%;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 15%;
  }


  .center {
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-spacing: 4mm;
    width: 25%;

  }

 div {
    font-family: 'Dongle', sans-serif;
  }

  div h4 {
    font-size: 30px;
  }

 div.container > label {
   font-size: 28px;
 }

 div.container1 > button {
  font-size: 20px;
  padding: 1%;
}

div.container > .ajustare {
  font-size: 25px;
}

