
  body {
    background: linear-gradient(135deg, #040242, #4d0d5e);
    overflow: auto;
    font-family: 'Dongle', sans-serif;
  }

  .ajustare{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 20%;
  }

.ajustare .elemente {
  flex-basis: 100%;
  max-width: 40%;
  margin: 0;
}
 
h5 {
  font-size: 40px;
}

div {
  font-size: 25px;
  font-family: 'Dongle', sans-serif;

}

div.ajustare > input{
  font-size: 20px;
}

div.mb-3 > input{
  font-size: 20px;
}

div.ajustare > button{
  font-size: 20px;
}

.createdBy {
  margin-top: -9%;
  max-width: 10%;
  align-self: center;
}
